<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 引入资源文件 -->
	<properties resource="db.properties" />
	<environments default="development">
		<environment id="development">
			<!-- 
				Mybatis提供两种事务类型 ：
					1.JdbcTransactionFactory
					2.ManageTransactionFactory
					应用程序在没有事务管理的环境中，将使用JdbcTransactionFactory.
			-->
			<transactionManager type="JDBC" />
			<!-- 
				数据源类型:
					1.UNPOOLED的dataSource创建一个新的数据库连接，在每次使用时，都会重新连接。
					2.POOLEDdataSource创建一个连接池。只要连接一次，其它时候使用时，将会用连接池中的数据。MyBatis提供org.apache.ibatis.datasource.PooledDataSorce，这个继承了javax.sql.DataSource去创建连接池。
					3.JNDI的dataSource连接池配置在应用的服务上，使用JNDI来获取一个连接。
			 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${pwd}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/userMapper.xml"/>
		<!-- 映射接口文件，可用class表示单独接口 -->
		<package name="org.mybatisConfig.mapper"/>
	</mappers>
</configuration>